@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--green-600);
    background-color: #E6F2E6;
}

.bgclr {
    background-color: var(--green-200);
    padding: 10px 10px;
}

.contact-form {
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.btn-submit {
    background-color: #006B4D;
    color: white;
}

.names {
    display: flex;
    justify-content: space-around;
}